.coverage
.git/
.idea/
.pytest_cache/
.run/
_build/
build/
*.db
*.egg-info/
*.sqlite
**/*.egg-info/
**/*.log
**/__pycache__/
**/Archive/
**/desktop.ini
**/VersionArchive/
dist/
docs/build/
docs/_build/
docs/source/generated/
htmlcov/
tmp/
